<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css"/>
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This was created by Vethamanickam V. It uses data from mapbox.com and data</p>
            <img class="portrait" src="" alt="">
        </div>
        {{>footer}}
    </body>
</html>